# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.
# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Endpoint where next app runs
NEXT_PUBLIC_APP_URL="http://localhost:3000"
# Endpoint where websocket server is running
NEXT_PUBLIC_WS_URL="ws://localhost:3001"
#postgres connection string
DATABASE_URL=
# OpenAI API key
OPENAI_API_KEY=
# Endpoint where Qdrant is running
QDRANT_HOST="http://localhost:6333"
# Qdrant collection name
QDRANT_COLLECTION_NAME="test_collection"
# development or production
NODE_ENV="development"
# Config for connecting to Microsoft Graph API found from Entra/AzureAD
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
# static ngrok endpoint for tunneling the webhook handler endpoint. needed for registering the webhooks with Microsoft Graph API
WEBSERVER_ENDPOINT=
# secret token for verifying the webhook requests
MSWEBHOOK_SECRET_TOKEN= 

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="VkFvFqFMSWnY8e+PSXU2q93weY49Aph3jazMnlyTEXU="
NEXTAUTH_URL="http://localhost:3000"
